* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100%;
  width: 100vw;
}
.app__header{
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;

}
.contents{
  display: flex;
  flex-direction: column;
  align-items: center;
}